<html>
    <body>
        <h1>Edit a menu item</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li><strong>{{message}}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form
            action="{{url_for('editMenuItem',restaurant_id=restaurant_id,menu_id=menu_id)}}"
            method="post"
        >
            <p>New Name?</p>
            <input type="text" size=30 name="name" placeholder="{{item_name}}">
            <input type="submit" value="Rename">
            <a href="{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}">Cancel</a>
        </form>
    </body>
</html>